<mat-card>
    <mat-card-title>Статистика для чата: {{ this.chatName }}</mat-card-title> 
    <br>
    <mat-card-subtitle>Любимое место: {{ this.lovelyPlace }}</mat-card-subtitle>
    <mat-card-subtitle>Любимое блюдо: {{ this.lovelyFood }}</mat-card-subtitle>
  
    <mat-card-content>
      <table mat-table [dataSource]="chatItems" matSort class="mat-elevation-z8">
  
        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
      
        <!-- Order Column -->
        <ng-container matColumnDef="order">
          <th mat-header-cell *matHeaderCellDef> Номер заказа </th>
          <td mat-cell *matCellDef="let element"> {{element.order}} </td>
        </ng-container>
      
        <!-- Place Column -->
        <ng-container matColumnDef="place">
          <th mat-header-cell *matHeaderCellDef> Место </th>
          <td mat-cell *matCellDef="let element"> {{element.place}} </td>
        </ng-container>
      
        <!-- Cost Column -->
        <ng-container matColumnDef="cost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Сумма </th>
          <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
        </ng-container>
      
        <!-- Created date Column -->
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Создан </th>
          <td mat-cell *matCellDef="let element"> {{element.created}} </td>
        </ng-container>
  
        <!-- Delivered date Column -->
        <ng-container matColumnDef="delivered">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Доставлен </th>
          <td mat-cell *matCellDef="let element"> {{element.delivered}} </td>
        </ng-container>
  
        <!-- Items Column -->
        <ng-container matColumnDef="items">
          <th mat-header-cell *matHeaderCellDef> Состав заказа </th>
          <td mat-cell *matCellDef="let element">{{element.items}}</td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </mat-card-content>
    <mat-card-footer></mat-card-footer>
  </mat-card>
