table {
  width: 100%;
}

mat-card{
  height: min-content;
  background-color: #0f89d0;
  color: white;
  min-width: 470px !important;
} 

mat-card h4{
  color: white;
  font-family: sans-serif;
}

mat-icon{
  color: white;
}

mat-card {
  padding-bottom: 50px !important;
}

.num{
  padding-left: 10px !important;
  padding-right: 10px !important;
}